.total {
  margin: 34px auto 20px 144px;

  /* Text Style/H1 */
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  /* identical to box height, or 152% */

  color: #000000;
}

.listing {
  width: auto;
  margin: 0 139px 58px 143px;
}

@media (max-width: 480px) {
  .total {
    margin: 34px auto 20px 17px;
  }
  .listing {
    margin: 0 16px 58px 16px;
  }
}
